@charset "UTF-8";

/* Général ------------------------------------------------------------------------------------- */

body, p, legend, label, input {
    font: normal verdana, helvetica, sans-serif;
    font-size: 1.1em;
}

/* Forms --------------------------------------------------------------------------------------- */
fieldset, nav {
    padding: 10px;
    border: 1px #0568CD solid;
    margin: 10px;
}

legend {
    font-weight: bold;
    color: #0568CD;
}

form label {
    float: left;
    width: 200px;
    margin: 3px 25px 0px 0px;
}

form input {
    margin: 3px 3px 0px 15px;
    border: 1px #999 solid;
}

form input.sansLabel {
    margin-left: 200px;
}

/* Styles et couleurs -------------------------------------------------------------------------- */
.requis {
    color: #c00;
}

.erreur {
    color: #900;
}

.succes {
    color: #090;
}

.info {
    font-style: italic;
    color: #E8A22B;
}

table
{
	border-collapse: collapse;
	margin: 10px
}

td
{
	border : 2px solid gray;
	padding :20px;
}

th
{
	border: 2px #0568CD solid;
	font-weight: bold;
	color:#0568CD;
	text-align: center;
	padding: 20px;
}

.action
{
	border-color : #900; 
	color: #900;
}
.supprimer
{
	text-align: center;
}

.pair
{
	background-color:#999;
}

.impair
{
	background-color: white;
}